@namespace EcoMeal.Site.Components.BusinessCard
<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">@Business.Name</h5>
    <p class="card-text">@Business.Description</p>
    <p class="card-text">@Business.Address</p>
    <p class="card-text">@Business.Contact</p>
    
</div>
</div>
