@namespace EcoMeal.Site.Components.BusinessList
@using EcoMeal.Site.Components.BusinessCard
@using EcoMeal.Site.Models
@if(Businesses is null){
 <p> Loading...</p>
}
else {
    @foreach(  BusinessModel business  in Businesses)
    {
        <div class="col-3">
            <BusinessCard Business="business"/>
        </div>
    }
}